.profile-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	max-width: 1200px;
	min-height: 20rem;
}

.header {
	text-align: center;
	padding: 8rem 8rem 1rem 8rem;

	h1 {
		font-size: 3.5rem;
	}
}

.logo-box {
	display: flex;
}

.subheader {
	padding: 0.8rem;
	font-size: 2.3rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.4rem;
	width: 100%;
	padding: 1.6rem;
}

.racer-bio {
	margin: auto;
	margin-bottom: auto;
	font-size: 1.8rem;
}

.card {
	margin-top: -3rem;
	display: flex;
	flex-direction: column;
	min-width: 16rem;
	min-height: 11rem;
	align-self: center;
	border: 1px solid #efefef;
	// background: #fff;
	background: rgb(227, 0, 0);
	background: linear-gradient(
		36deg,
		rgba(227, 0, 0, 0.5312325613839286) 24%,
		rgba(236, 194, 10, 1) 100%
	);
	padding: 1rem 1.5rem 1.5rem 1.5rem;
	border-radius: 5px;
	box-shadow: 6px 9px 8px 3px #414141;
}

ion-icon {
	font-size: 64px;
	background: #ccc;
	color: #aaa;
	padding: 15px;
	margin: 1.5rem 0rem 0rem 0.5rem;
	border-radius: 50%;
	box-shadow: 3px 6px 8px 2px #414141;
}

.profile {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.info-box {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.6rem;

	.info-title {
		color: #333;
		font-weight: 300;
		padding-bottom: 2px;
		margin-bottom: 0;
	}
}

.line-break {
	border-bottom: 1px solid orange;
	margin-bottom: 1.2rem;
}

.lead {
	color: rgb(105, 105, 105);
}
